__pycache__
/work/
*.pyc
*.pkl
*.jpg
*.jpeg
*.png
*.gif
*.log
train_log
*.swp
*.tar
*best-epoch-*
*epoch-*
.DS_Store
.nfs*
.ipynb_checkpoints
*.model
*.gz
*.mp4
test.sh
others
images
*.nori
tmp*.py
*.dlc
*.ipynb*
snpe/
.idea/
*.new
tmp*
result*
data/
.env/
